@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  text-underline-offset: 7px;
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: #0284c7;
  text-decoration-thickness: 2px;
}